%footer#footer.sixteen.columns{"data-hook" => ""}
  #footer-left.columns.alpha.eight{"data-hook" => ""}
    %p
      © 2013 Lotipi.co TODOS LOS DERECHOS RESERVADOS
  #footer-right.columns.omega.eight{"data-hook" => ""}
