#header-baner.span12
%header#header.row{"data-hook" => ""}
  #logo
    = link_to image_tag('store/LoTipico_Logo_Header.png'), spree.root_path
  = render :partial => 'spree/shared/nav_bar'
-# = render :partial => 'spree/shared/main_nav_bar' if store_menu?
