%nav#top-nav-bar.columns.ten
  %ul#nav-bar.inline{"data-hook" => ""}
    %li#link-to-cart{"data-hook" => ""}= link_to_cart
    %li#search-bar{"data-hook" => ""}
    -#   = render :partial => 'spree/shared/search'
